.text-description {
    color: #FFFFFF;
    font-family: 'lato';
    position: absolute;
    top: 16.3vh;
    left: 7.1vw;
    width: 23.4vw;
}

.text-module {
    font-size: 32pt;
}

.text-section {
    font-size: 20pt;
    margin-top: 10px;
}

.text-section-subtitle {
    font-size: 20pt;
}

.text-description-body {
    margin-top: 15px;
    font-size: 16pt;
    overflow-y: scroll;  
    max-height: 50vh;
    overflow-wrap: break-word;
    max-width: 23.4vw;
}
