.scroll-general {

}

.scroll-general:hover {
	text-shadow: 1px  1px     #FFFF66, 
    			-1px  1px     #FFFF66, 
    			 1px -1px     #FFFF66, 
    			-1px -1px     #FFFF66,
     			 1px  1px 5px #555; 
}

.ScrollNav {
	position: absolute;
	top: 200px;
}

.nav-selected {
	text-shadow: 1px  1px     #32CD32, 
    			-1px  1px     #32CD32, 
    			 1px -1px     #32CD32, 
    			-1px -1px     #32CD32,
     			 1px  1px 5px #555;
}

.nav-selected:hover {
	text-shadow: 1px  1px     #32CD32, 
    			-1px  1px     #32CD32, 
    			 1px -1px     #32CD32, 
    			-1px -1px     #32CD32,
     			 1px  1px 5px #555 !important;
}

.pointer {
	position: relative;
	top: 85px;
}

li {
	position: absolute;
	text-align: center;
}

ul {
	list-style-type: none;
	height: 500px;
}

.page-number {
	color: #808080;
	position: absolute;
	left: 60px;
}

.page-title {
	position: absolute;
}