.scroll-general {

}

.scroll-general:hover {
	text-shadow: 1px  1px     #FFFF66, 
    			-1px  1px     #FFFF66, 
    			 1px -1px     #FFFF66, 
    			-1px -1px     #FFFF66,
     			 1px  1px 5px #555; 
}

.ScrollNav {
	position: absolute;
	top: 0;
	right: 0;
	height: 100vh;
	width: 20vw;
	background-color: #005F93;
	opacity: 0.93;

}

.ScrollArea {
	overflow-y: scroll;
	height: 100%;
	padding-top: calc(50vh - 37px / 2.0);
	padding-bottom: calc(50vh - 14.1vh - 37px / 2.0);
}

.ScrollArea::-webkit-scrollbar { width: 0 !important }

.nav-selected {

}

.nav-selected:hover {

}

.pointer {
	position: absolute;
	height: 3px;
	width: 8vw;
	top: 50vh;
	background-color: grey;
}

li {
	text-align: center;
}

ul {
	list-style-type: none;
	height: 100%;
	
}

.page-selected {
	color: #FFFFFF !important;
}

.page-number {
	color: #808080;
	position: relative;
	margin-bottom: 14.1vh;
	font-size: 25px;
}

.page-title {
	position: absolute;
}