.content-slider {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: visible;
}

.title {
	position: relative;
	font-weight: 500;
	font-size: 3vmin;
	text-transform: capitalize;
	letter-spacing: 0.01em;
	line-height: 1.2;
	color:#fff;
	margin: 3vmin 5vmin 3.5vmin 5vmin;
	top: 30vh;
}

.theme {
	position: relative;
	top: 20vh;
	font-weight: 900;
	font-size: 1.7vmin; 
	text-transform:uppercase;
	font-family:Poppins;
	letter-spacing: 10px;
	margin: 3vmin 5vmin 3.5vmin 5vmin;
	color: lightblue;
}

.images {
	height: 100vh;
	width: 60%;
	overflow: hidden;
	position: relative;
}

.text-content {
	position: relative;
	text-align: center;
	background-color: black;
	height: 100vh;
	width: 40%;
	text-align: left;
}

.description {
	position: relative;
	top: 30vh;
	font-size: 2vmin;
	line-height: 1.7;
	font-weight: 300;
	color:#fff;
	margin: 3vmin 5vmin 3.5vmin 5vmin;
	white-space: pre-line;
	
}

.slider-list {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
  	width: 100%;
  	overflow: visible;
}

.list-item {
	position: relative;
	height: 100vh;
  	width: 100%;
  	top: 0;
    left: 0;
}

.old {
	position: relative;
	height: 100%;
  	width: 100%;
  	overflow: hidden;
  	display: flex !important; 
  	flex-direction: row;
}

.new {
	top: 17vh;
    left: 4vw;
	position: absolute;
	height: 100%;
  	width: 100%;
  	overflow: hidden;
  	display: flex !important; 
  	flex-direction: row;
  	overflow: visible;
}