.animationBox {
	position: absolute;
	top: 0;
	left: 0;
}

.controlButton {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 10px;
}

.replayButton {
	height: 50px;
	width: 50px;
	fill: #EFEFEF;
	cursor: pointer;
	margin-right: 10px;
}

.replayButton:hover {
	fill: #0071BC;
}

.pauseButton {
	height: 50px;
	width: 50px;
	fill: #EFEFEF;
	cursor: pointer;
	margin-left: 10px;
}

.pauseButton:hover {
	fill: #0071BC;
}

.media-prev-button {
	height: 50px;
	width: 50px;
	fill: #EFEFEF;
	cursor: pointer;
	margin-right: 20px;
}

.media-prev-button.disabled {
	fill: #666666 !important;
	cursor: default;
}

.media-prev-button:hover {
	fill: #0071BC;
}

.media-next-button {
	height: 50px;
	width: 50px;
	fill: #EFEFEF;
	cursor: pointer;
	margin-left: 20px;
}

.media-next-button.disabled {
	fill: #666666 !important;
	cursor: default;
}

.media-next-button:hover {
	fill: #0071BC;
}