@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css');

.open-modal {
	position: absolute;
	top: 15px;
	left: 10px;
	width: 35px;
	height: 20px;
	background-color: white;
	z-index: 10;
	cursor: pointer;
	border-radius: 20%;
	pointer-events: none;
	opacity: 0;
}

.open-modal.show {
	transition: 0.3s;
	pointer-events: auto;
	opacity: 1;
}

.open-modal:hover {
	background-color: #7AC943;
}

.popup-box {
	position: absolute;
}

.popup-image {
	width: 90%;
	height: 90%;
}

.popup-content {
	display: flex;
	flex-direction: column;
	white-space: pre-line;
}

.popup-dialog {
	max-width: 80vw !important;
	width: 65vw !important;
	max-height: 80vh !important;
	
}

.plus-icon-svg {
	position: absolute;
	top: 3.3px;
	left: 11px;
	height: 13px;
	width: 13px;
	fill: grey;
}

.open-modal:hover > .plus-icon-svg {
	fill: white;
}


