@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css');

.open-modal {
	position: relative;
	top: 10vh;
	left: 10vw;
	width: 24vh;
	height: 3vh;
	background-color: white;
	z-index: 2;
	cursor: pointer;
	border-radius: 5px;
}

.open-modal:hover {
	background-color: grey;
}

.popup-image {
	width: 90%;
	height: 90%;
}

.modal-content {
	width: 90vw;
	height: 90vh;
}

.popup-content {
	display: flex;
	flex-direction: column;
}

