@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css');

.open-modal {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 30px;
	height: 30px;
	background-color: white;
	z-index: 10;
	cursor: pointer;
	border-radius: 50%;
}

.open-modal:hover {
	background-color: grey;
}

.popup-box {
	position: absolute;
}

.popup-image {
	width: 90%;
	height: 90%;
}

.popup-content {
	display: flex;
	flex-direction: column;
	white-space: pre-line;
}

.popup-dialog {
	max-width: 80vw !important;
	width: 80vw !important;
	max-height: 80vh !important;
}

