.interactive-page{
	background-color: #DDA0DD;
	height: 300px;
}

.svg-hint-button {
	fill: #BA55D3;
	stroke: #DA70D6;
	stroke-width: 0px;
}

.svg-hint-button-unclicked {
	text-decoration: blink;
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 0.6s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:ease-in-out;
	-webkit-animation-direction: alternate;
}

@-webkit-keyframes blinker {
  from {opacity: 1.0;
  		stroke-width: 10px;}
  to {opacity: 0.0;
  		stroke-width: 20px;}
}
