.scroll-nav {
  width: 30%;
}

.content-right {
  width: 70%;
}

.App {
  display: flex;
  flex-direction: horizontal;
}

.navigation-buttons {
  display: flex;
  flex-direction: horizontal;
  height: 30%;
  margin: 20px;
}

.back-button {
  width: 15%;
}

.back-button-svg:hover {
  fill: grey;
}

.between-button-blank {
  width: 70%;
}

.next-button {
  width: 15%;
}

.next-button-svg:hover {
  fill: grey;
}

.disabled {
  fill: #C0C0C0;
}

.disabled:hover {
  fill: #C0C0C0 !important; 
}





.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
