.image-slider {
	height: 100%;
	width: 70%;
}

.image-after {
  position: absolute;
  left: 0;
  top: -24vh;
  bottom: 0;
  width: 50%;
  overflow: hidden;
  z-index: 20;
}

.image-container {
	width: 100%;
	height: 100%;
}

.vertical-separator {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 2px;
  background: linear-gradient(to top, transparent 10%, #0071BC 70%, transparent 100%); 

  height: 500px;;
  z-index: 21;

}

.slider-icon {
  position: relative;
  height: 50px;
  width: 50px;
  top: 10%;
  left: -24px;
  cursor: col-resize;
  fill-opacity: 0.8;
  fill: white;
}