.navigation-buttons {
  display: flex;
  flex-direction: column;
  height: 30%;
  position: relative;
  top: 90vh;
  z-index: 1;
  left: 95vw;
  cursor: pointer;
}

.back-button {
  z-index: 1;
  width: 50px;
}

.back-button-svg {
  fill: #2343F5;
}

.back-button-svg:hover {
  fill: #566EF7;
}

.next-button {
  z-index: 1;
  width: 50px;
  position: relative;
  left: 10px;
}

.next-button-svg {
  fill: #2343F5;
}

.next-button-svg:hover {
  fill: #566EF7;
}

.disabled {
  fill: #C0C0C0;
  cursor: default;
}

.disabled:hover {
  fill: #C0C0C0 !important; 
}