.navigation-buttons {
  display: flex;
  flex-direction: column;
  height: 30%;
  position: relative;
  z-index: 1;
  text-align: center;
  vertical-align: top;
}

.back-button {
  z-index: 1;
  width: 30px;
  height: 15px;
  cursor: pointer;
}

.back-button-svg {
  fill: #EFEFEF;
}

.back-button-svg:hover {
  fill: #0071BC;
}

.next-button {
  z-index: 1;
  width: 30px;
  height: 15px;
  position: relative;
  margin-top: 10px;
  cursor: pointer;
}

.next-button-svg {
  fill: #EFEFEF;
}

.next-button-svg:hover {
  fill: #0071BC;
}

.back-button-svg.disabled {
  fill: #666666 !important;
  cursor: default;
}

.next-button-svg.disabled {
  fill: #666666 !important;
  cursor: default;
}

.current-page {
  margin-top: 20px;
  color: #FFFFFF;
  font-size: 18px;
  position: relative;
  left: -5px;
  cursor: default;
}